.header {
  background-image: url("../assets/NailBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  position: relative;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 500px;
  gap: 16px;

  position: relative;
  z-index: 2;
}

.header__title {
  font-size: 50px;
  font-weight: 200;
  margin-bottom: 20px;
  width: auto;
  color: white;
}

.header__subtitle {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.header__accent {
  color: rgb(251, 151, 168);
  font-family: cursive;
}

.header__buttons-container {
  display: flex;
  gap: 20px;
}

.header__button {
  padding: 10px 20px;
  background-color: rgb(251, 151, 168);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header__button2 {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.header__button-link {
  text-decoration: none;
  color: white;
}

.header__footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.header__social-icon {
  width: 40px;
}

/* Services Section */

.header__services {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.header__services-title {
  font-size: 36px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.header__services-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.header__services-card {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  list-style: none;
}

.header__card-icon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;
  width: 70px;
}

.header__card-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.header__card-subtitle {
  text-align: center;
  font-size: 18px;
  color: black;
}

.header__card-description {
  text-align: center;
  font-size: 16px;
  color: black;
}

.header__card-accent {
  text-align: center;
  font-size: 20px;
  color: rgb(251, 151, 168);
}
